<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QueryChakra - Query Results</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/output.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}">
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/datatable.css') }}">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="bg-group p-2 grid gap-4 grid-cols-10">
            <!-- SQL Query Display Card -->
            <div class="bg-group col-start-3 col-end-8 block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="bg-group border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600">
                    <h3 class="font-semibold text-gray-800">SQL SERVER QUERY</h3>
                </div>
                <div class="p-6 shadow-md sql-query-display">
                    <div class="output-query-text">
                        {{ db_data }}
                    </div>
                </div>
                <div class="grid gap-2 grid-cols-4 items-center justify-between border-t-2 border-neutral-100 py-2">
                    <h5 class="bg-group col-start-1 col-end-2 mb-1 text-xs font-bold tracking-tight query-metadata">
                        <span class="text-gray-800">Tokens Utilized:</span> <span class="token-count text-blue-600">{{ gpt_metadata['tokens'] }}</span>
                    </h5>
                    <h5 class="bg-group col-start-4 col-end-5 mb-1 text-xs font-bold tracking-tight query-metadata">
                        <span class="text-gray-800">Time Taken (m):</span> <span class="time-taken text-green-600">{{ gpt_metadata['time_taken'] }}</span>
                    </h5>
                </div>
            </div>
            
            <!-- Visualization Options -->
            <div class="bg-group text-xs col-start-8 col-end-11 flex justify-center items-center">
                <div class="bg-group max-w-sm p-4 border rounded-lg shadow bg-white border-gray-200">
                    <p class="py-2">
                        <span class="bg-group text-gray-700">
                            For <span class="underline decoration-orange-200 font-medium text-gray-800">
                                viewing and primitive search capabilities
                            </span> the below table should be fine.<br> 
                        </span>
                        <span class="bg-group text-gray-700 font-medium">
                            For <span class="underline decoration-yellow-300 text-orange-600">
                                visualization and advanced data handling
                            </span> click the below button.<br>
                        </span><br>
                        <span class="bg-group group relative w-full grid grid-cols-8">
                            <button id="chartbutton" class="col-start-1 col-end-3 justify-center bg-blue-500 hover:bg-blue-600 text-white font-bold px-2 py-2 border-b-4 border-blue-700 rounded transition-all duration-200">
                                <p class="text-white">PyGWalker</p>
                            </button><br>
                            <span class="col-start-4 col-end-8 hidden font-semibold text-emerald-600 subpixel-antialiased group-hover:block transition-transform"> 
                                Watch out for a new tab 
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            
            <!-- Data Table -->
            <div class="col-start-1 col-end-12 container mx-auto px-1">
                <div id='recipients' class="text-xs p-1 mt-1 lg:mt-0 rounded bg-white">
                    <table id="example" class="stripe hover table-fixed table-w-200 text-xs" style="width:100%;" >
                        <thead class="text-xs">
                            <tr>
                                {% for i in output.keys() %}
                                <th data-priority="{{ loop.index }}" class="text-gray-800 font-semibold">{{ i }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="text-xs text-center">
                            {% for i in positions %}
                            <tr>
                                {% for j in output.values() %}
                                <td class="text-gray-800">{{ j[i] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {% include "footer.html" %}
        <script src="{{ url_for('static', filename='script/clock.js') }}"></script>
        <script src="{{ url_for('static', filename='script/output.js') }}"></script>
    </body> 
</html>